[submodule "WalkmanLib"]
	path = WalkmanLib
	url = https://github.com/Walkman100/WalkmanLib.git
[submodule "Ookii.Dialogs"]
	path = Ookii.Dialogs
	url = https://github.com/Walkman100/Ookii.Dialogs.git
